{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="jumbotron">
  <h3>Bienvenido!</h3>
  <p>
    Gracias por efectuar la confirmación. Ahora puede iniciar sesión de su cuenta accediendo al siguiente  <a href="{% url 'login' %}">enlace</a>
  </p>
  <p>
    Por favor no olvide completar los datos personales de su cuenta, ya que serán usados para contactarlo por las solicitudes de recursos que realice. Para ello podrá acceder al siguiente <a href="{% url 'auth_edit' %}">enlace</a> luego de iniciar la sesión de su cuenta.
  </p>
</div>
{% endblock %}


