{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
 
<div class="panel panel-default">
  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <thead>
        <tr class="active">
          <th>{{ _('Domain') }}</th>
          <th>{{ _('Resource') }}</th>
          <th>{{ _('Date_from') }}</th>
          <th>{{ _('Date_until') }}</th>
          <th>{{ _('Area') }}</th>
          <th>{{ _('Status') }}</th>
        </tr>
      </thead>
      <tbody>
        {% if applications %}
        {% for application in applications %}
        <tr>
          <td><a href="{% url 'application_show' pk=application.pk %}" >{{ application.domain|default:'' }}<a/></td>
          <td>{{ application.resource|default:'' }} </td>
          <td>{{ application.date_from|date:'d-m-Y, H:i'|default:'' }} </td>
          <td>{{ application.date_until|date:'d-m-Y, H:i'|default:'' }} </td>
          <td>{{ application.area|default:'' }} </td>
          <td title="{{ application.last_state.name|default:'' }} ">
            {{ application.last_state.icon_link|safe|default:'' }}
          </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
          <td colspan='6'>{{ _('withouth_results') }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}

