{% extends "base.html" %}
{% load i18n %}
{% block content %}

{% if person_form.errors %}
<div class="row">
  <div class="col-lg-12">
    <div class="bs-component">
      {% for field in person_form %}
      {% if field.errors %}
      <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {%  trans field.name %}: {{ field.errors|striptags }}
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
{% endif %}

<div class="well bs-component">

  <form class="form-horizontal" action="{% url 'auth_save' %}" method="post">
    {% csrf_token %}
    <fieldset>
      <legend>{{ _('data_of_the_person') }}</legend>


      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_name">{{ _('Name') }}</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="first_name" id="id_first_name"
                 value="{{ form.first_name.value|default:'' }}" />
        </div>
        <label class="col-sm-2 control-label" for="id_last_name">{{ _('Surname') }}</label>
        <div class="col-sm-4" >
          <input class="form-control" type="text" name="last_name" id="id_last_name"
                 value="{{ form.last_name.value|default:'' }}" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_document_type">
          {{ _('Document_type') }}
        </label>
        <div class="col-sm-4">
          <select class="form-control" name="document_type" id="id_document_type">
            {% for choice in person_form.document_type.field.choices %}
            <option value="{{choice.0}}"
                    {% if choice.0 == person_form.document_type.value|add:0 %}selected=''{% endif %}>
              {{ choice.1}}
            </option>
            {% endfor %}
          </select>
        </div>
        
        <label class="col-sm-2 control-label" for="id_document_number">{{ _('Document_number') }}</label>
        <div class="col-sm-4" >
          <input class="form-control" type="text" name="document_number" id="id_document_number"
                 value="{{ person_form.document_number.value|default:'' }}" />
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_email">{{ _('Email') }}</label>
        <div class="col-sm-4">
          <input class="form-control" type="text" name="email" id="id_email"
                 value="{{ form.email.value|default:'' }}" />
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="id_telephone_number">
          {{ _('Telephone_number') }}
        </label>
        <div class="col-sm-4">
          <input class="form-control" type="text"
                 name="telephone_number" id="id_telephone_number" 
                 value="{{ person_form.telephone_number.value|default:'' }}" />
          <p class="help-block">{{ _('Examples') }} <strong>4571110 int 23</strong>,
            {{ _('or_alone') }}: <strong>int 23</strong></p>
        </div>
      </div>
      <br>
      <div class="form-group pull-right">
        <div class="col-xs-12">
          <button type="reset" class="btn btn-default">{{ _('Cancel') }}</button>
          <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
          <button type="submit" class="btn btn-primary">{{ _('Save') }}</button>
        </div>
      </div>
    </fieldset>
  </form>
</div>

{% endblock %}

