{% autoescape off %}
Hola {{ user.username }},

La contraseña de su cuenta de correo {{ user.email }} fué recientemente modificada.
Si ha hecho este cambio, ignore este correo, no necesita hacer nada mas.

Si no intentó reestablecer la contraseña de su correo electrónico, es posible que alguien haya ingresado en su cuenta. Por favor, pongase en contacto con nosotros, o bien restablezca su contraseña ingresando al siguiente enlace http://{{ domain }}{% url 'auth_password_reset' %}

{{ _('email_footer') | safe }}

{% endautoescape %}
